<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet"> -->

<div class="loader" [ngStyle]="{display: loader.visible ? 'flex' : '', opacity: loader.op ? 1 : 0}">
  <div class="container-spanner" [ngStyle]="{display: loader.container ? 'block' : 'none'}">
    <svg viewBox="0 0 100 100">
      <circle cx="50%" cy="50%" r="45"></circle>
    </svg>
  </div>
</div>


<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Vollkorn|Roboto" rel="stylesheet">
<div>
  <div class="my-row">
      <div class="my-col">

          <div class="first info-block">
            <span class="header">Меньше всего выпадали:</span>
            <span 
              *ngFor="let el of arrAllNumbers"
              [style.display]="el.count === firstMinCounter ? '' : 'none'"
              [ngClass]="el.color"
              [class.cell-clicked]="cellClicked === el.number"
              (click)="clickCell(el.number)"
            >
              {{el.number}}
              <div class="count"></div>
            </span>
          </div>

          <div class="second info-block">
            <span class="header">Чуть больше:</span>
            <span 
              *ngFor="let el of arrAllNumbers"
              [style.display]="el.count === secondMinCounter ? '' : 'none'"
              [ngClass]="el.color"
              [class.cell-clicked]="cellClicked === el.number"
              (click)="clickCell(el.number)"
            >
              {{el.number}}
              <div class="count"></div>
            </span>
          </div>
          
          <div class="first info-block">
            <p class="header scroll">Сортированный список в порядке возрастания даты:</p>
            <div class="sorted-list">
              <table>
                <tr>
                  <th>Место</th>
                  <th>Дата</th>
                  <th>Число</th>
                  <th>Выпадений</th>
                </tr>
                <tr 
                  *ngFor="let el of sortedList; let i = index"
                  [ngClass]="{'second-number': i%2 == 0, 'yellow-number': el.index > 300, 'orange-number': el.index > 400, 'deep-orange-number': el.index > 500 }"
                >
                  <td>{{el.index}}</td>
                  <td>{{games[el.index].time*1000 | date:'HH:mm | dd.MM'}}</td>
                  <td>
                    <div
                      class="td-cell tooltip"
                      [ngClass]="arrAllNumbers[el.number | numberWin].color"
                      [class.cell-clicked]="cellClicked === el.number"
                      (click)="clickCell(el.number)"
                    >
                      {{arrAllNumbers[el.number | numberWin].number}}
                      <div class="count" 
                        [ngClass]="{'first': arrAllNumbers[el.number | numberWin].count === firstMinCounter, 
                                    'second': arrAllNumbers[el.number | numberWin].count === secondMinCounter}">
                      </div>
                      <span class="tooltiptext">{{games[el.index].gold}}</span>
                    </div>
                  </td>
                  <td>{{arrAllNumbers[el.number | numberWin].count}}</td>
                </tr>
              </table>
            </div>

          </div>
        

      </div>

      <div class="my-col">

        <div class="common-block">
          
          <div class="block">

              <div class="cell null">
                <div class="cell-inner green" (click)="clickCell('00')" [class.cell-clicked]="cellClicked === '00'">
                  00
                  <div class="count" [ngClass]="{'first-info': arrNullNumbers[1].count === firstMinCounter, 'second-info': arrNullNumbers[1].count === secondMinCounter}">
                    {{arrNullNumbers[1].count}}
                  </div>
                </div>
              </div>

              <div class="cell null">
                <div class="cell-inner green" (click)="clickCell('0')" [class.cell-clicked]="cellClicked === '0'">
                  0
                  <div class="count" [ngClass]="{'first-info': arrNullNumbers[0].count === firstMinCounter, 'second-info': arrNullNumbers[0].count === secondMinCounter}">
                    {{arrNullNumbers[0].count}}
                  </div>
                </div>
              </div>

          </div>

          <div class="block" *ngFor="let indBlock of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]">
            <div class="cell" *ngFor="let ind of [indBlock*3 + 2, indBlock*3 + 1, indBlock*3 + 0]">
              <div class="cell-inner" 
                [ngClass]="arrNumbers[ind].color"
                [class.hover]="
                  (indBlock === 0 && fields[0][0].over) || (indBlock === 1 && fields[0][0].over) || (indBlock === 2 && fields[0][0].over) || (indBlock === 3 && fields[0][0].over) ||
                  (indBlock === 4 && fields[0][1].over) || (indBlock === 5 && fields[0][1].over) || (indBlock === 6 && fields[0][1].over) || (indBlock === 7 && fields[0][1].over) ||
                  (indBlock === 8 && fields[0][2].over) || (indBlock === 9 && fields[0][2].over) || (indBlock === 10 && fields[0][2].over) || (indBlock === 11 && fields[0][2].over) ||
                  (ind === indBlock*3 + 0 && fields[1][0].over) || (ind === indBlock*3 + 1 && fields[1][1].over) || (ind === indBlock*3 + 2 && fields[1][2].over) ||
                  (ind < 18 && fields[2][0].over) || (ind >= 18 && fields[2][1].over) ||
                  ((ind + 1)%2 === 0 && fields[3][0].over) || ((ind + 1)%2 != 0 && fields[3][1].over)"
                [class.cell-clicked]="cellClicked === (ind + 1) + ''"
                (click)="clickCell((ind + 1) + '')"
              >
                {{ind + 1}}
                <div class="count" [ngClass]="{'first-info': arrNumbers[ind].count === firstMinCounter, 'second-info': arrNumbers[ind].count === secondMinCounter}">
                  {{arrNumbers[ind].count}}
                </div>
              </div>
            </div>
          </div>

        </div>


        <div class="status-block">
          <div class="status-cell green">
            Зеленых - {{colorsCount.green}}
          </div>
          <div class="status-cell red">
            Красных - {{colorsCount.red}}
          </div>
          <div class="status-cell black">
            Черных - {{colorsCount.black}}
          </div>
        </div>

        <div class="first info-block statistics float">
          <p class="header scroll">Последние 25 игр:</p>
          <div class="sorted-list">
            <table>
              <tr>
                <th>№</th>
                <th>Дата</th>
                <th>Число</th>
                <!-- <th>Выпадений</th> -->
              </tr>
              <tr
                *ngFor="let el of games | slice:0:25; let i = index"
                [ngClass]="{
                  'second-number': i%2 == 0, 
                  'deep-orange-number': consecutiveNumbers.flag && i < consecutiveNumbers.num
                }"
              >
                <td>{{el.id + '' | slice:-3}}</td>
                <td>{{el.time*1000 | date:'HH:mm | dd.MM'}}</td>
                <td>
                  <div 
                    class="td-cell tooltip" 
                    [ngClass]="arrAllNumbers[el.number | numberWin].color" 
                    [class.cell-clicked]="cellClicked === el.number"
                    (click)="clickCell(el.number)"
                  >
                    {{el.number}}
                    <span class="tooltiptext">{{el.gold}}</span>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        
        </div>

        <div class="float">
          <div class="first info-block statistics">
            <p class="header">По областям:</p>
            <div class="sorted-list fields border">
              <div>


                <table>
                  <tr class="hr-div">
                    <th>Область</th>
                    <th>Выпадений</th>
                  </tr>

                  <ng-template ngFor let-ind="index" let-field [ngForOf]="fields">
                    <tr 
                      *ngFor="let item of field; let i = index;" 
                      (mouseover)="item.over = true" 
                      (mouseleave)="item.over = false"
                      [ngClass]="{'min': item.min, 'last': i === fields[0].length - 1, 'hover-row': item.over, 'hr-div': i === field.length - 1 && ind !== fields.length - 1}"
                    >
                      <td>{{item.text}}</td>
                      <td>{{item.num}}</td>
                    </tr>
                  </ng-template>
                  
                </table>
              </div>
          
            </div>
          </div>

          <div class="first info-block statistics">
            <!-- <p class="header">По областям:</p> -->
            <div class="sorted-list border">
              <div>


                <table class="calc">
                  <tr class="hr-div">
                    <th>Ставка</th>
                    <th>Множитель</th>
                    <th>Золото</th>
                  </tr>
                  <tr class="hr-div">
                    <td>
                      <input
                        type="number"
                        step="25"
                        [(ngModel)]="calc.rate"
                        (change)="calculate()"
                        [class.error]="calc.rate === null"
                      >
                    </td>
                    <td>
                      <input
                        type="number"
                        step="0.001"
                        [(ngModel)]="calc.multiplier"
                        (change)="calculate()"
                        [class.error]="calc.multiplier === null"
                      >
                    </td>
                    <td>
                      <input
                        type="number"
                        step="2500"
                        [(ngModel)]="calc.gold"
                        (change)="calculate()"
                        [class.error]="calc.gold === null"
                      >
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">Золота хватит на {{ calc.numberBets }} {{ getText(calc.numberBets, true) }} (Макс. приб. {{ calc.maximumProfit }})</td>
                  </tr>
                  
                  
                </table>
              </div>
          
            </div>
          </div>

        </div>



      </div>

      </div>
</div>

<div class="timer" [style.opacity]="(timerObj.minutes === 0 && timerObj.seconds === 0) ? 0 : 1 " [class.error]="flagError">
  Reload after {{timerObj.minutes | number:'2.'}}:{{timerObj.seconds | number:'2.'}}
</div>